body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    font-size: 1rem;
    font-weight: 350;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #171421
}
footer {
    background: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hero-bg-container {
    position: relative;
    margin: 0 auto;
    padding: 10.5rem 5rem 4.75rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden
}

.hero-bg-container .heading {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 130%;
    text-align: center;
    background: linear-gradient(93.83deg, #d79f7b 15.12%, #d2c4ef 59.95%, #9070d5 104.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 1.5rem
}

.hero-bg-container .sub-heading {
    font-size: 1.125rem;
    line-height: 150%;
    padding: 0 5rem;
    text-align: center;
    margin-bottom: 2rem;
    color:white;
}


.slider-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
}



.slider-track {
    display: inline-flex;
    animation: scroll 100s linear infinite; /* Slower animation */
}

.slider-item {
    display: inline-block;
    padding: 20px;
    min-width: 200px;
    text-align: center;
    margin: 5px;
    border-radius: 40px; /* Rounded corners */
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 0px 0px 0.4px rgba(255, 255, 255, 0.5), /* Light border effect */
                0.25px 0.25px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.course-curriculum-container {
    background: #171421;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.course-curriculum-container .content-container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 3.75rem calc(min(7.5rem, 8.34%))
}

.course-curriculum-container .section-heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    margin-bottom: 3.5rem;
    text-align: center;
    color: #fff
}

.course-curriculum-container .weeks-container {
    display: flex;
    min-height: 25rem;
    overflow: hidden
}

.course-curriculum-container .weeks-container ::-webkit-scrollbar {
    width: 0
}

.course-curriculum-container .weeks-container ::-webkit-scrollbar-thumb {
    background: hsla(0,0%,100%,.2)
}

.course-curriculum-container .weeks-container .weeks {
    display: flex;
    flex-direction: column;
    margin: -.75rem 0;
    width: 10%;
    overflow-y: scroll
}

.course-curriculum-container .weeks-container .weeks .week {
    margin: .75rem 0;
    font-size: 1.20rem;
    line-height: 150%;
    color: #9e9e9e;
    cursor: pointer;
    white-space: nowrap
}

.course-curriculum-container .weeks-container .weeks .week.active {
    font-weight: 700;
    color: #fff
}

.course-curriculum-container .weeks-container .separator {
    width: 1px;
    margin: 0 2.5rem 0 2rem
}

.course-curriculum-container .weeks-container .content {
    overflow-y: scroll;
    width: 50%
}

.course-curriculum-container .weeks-container .content .heading {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 130%;
    color: #a48bd9;
    margin-bottom: 2rem
}

.course-curriculum-container .weeks-container .content .points {
    margin: 0 0 -2rem;
    width: 88%
}

.course-curriculum-container .weeks-container .content .points .point {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;
    margin: 2rem 0
}

.course-curriculum-container .weeks-container .content .points .point img {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: .75rem;
    margin-top: .25rem
}

.course-curriculum-container .weeks-container .curriculum-download-section {
    margin-left: 4.5rem;
    width: 31.2%;
    min-width: 22rem;
    max-width: 25rem;
    display: flex;
    padding: 2rem 1.5rem 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    border-radius: .75rem;
    background: #221d32;
    box-shadow: 0 2px 40px 0 rgba(0,0,0,.2);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content
}

.course-curriculum-container .weeks-container .curriculum-download-section .text-section,.course-curriculum-container .weeks-container .curriculum-download-section .text-section .image-heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem
}

.course-curriculum-container .weeks-container .curriculum-download-section .text-section .image-heading-container .image-container {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: linear-gradient(145deg,rgba(104,63,190,.2),rgba(73,48,128,.2));
    filter: drop-shadow(0 2px 20px rgba(99,52,200,.06));
    display: flex;
    align-items: center;
    justify-content: center
}

.course-curriculum-container .weeks-container .curriculum-download-section .text-section .image-heading-container .image-container img {
    height: 2.25rem;
    width: 2.25rem
}

.course-curriculum-container .weeks-container .curriculum-download-section .text-section .image-heading-container .heading {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 140%;
    background: linear-gradient(130deg,#fff,hsla(0,0%,100%,.5));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.course-curriculum-container .weeks-container .curriculum-download-section .text-section .text {
    color: hsla(0,0%,100%,.7);
    font-size: .875rem;
    line-height: 145%
}

.course-curriculum-container .mobile {
    display: none
}

@media only screen and (max-width: 1024px) {
    .course-curriculum-container .content-container {
        padding:3.5rem calc(max(1.25rem, 5.34%))
    }

    .course-curriculum-container .desktop {
        display: none
    }

    .course-curriculum-container .mobile {
        display: block
    }

    .course-curriculum-container .weeks-container {
        flex-direction: column;
        min-height: auto;
        height: auto!important;
        overflow: visible
    }

    .course-curriculum-container .weeks-container .weeks {
        flex-direction: row;
        width: 100%;
        padding: 0 .25rem 1.24rem;
        overflow: scroll
    }

    .course-curriculum-container .weeks-container .weeks .week {
        margin: 0 .75rem
    }

    .course-curriculum-container .weeks-container .weeks .week:first-of-type {
        margin-left: 0
    }

    .course-curriculum-container .weeks-container .weeks .week:last-of-type {
        margin-right: 0
    }

    .course-curriculum-container .weeks-container .separator {
        width: 100%;
        height: 1px;
        margin: 0 0 2rem
    }

    .course-curriculum-container .weeks-container .content {
        overflow: inherit;
        margin-bottom: 4rem;
        width: 100%
    }

    .course-curriculum-container .weeks-container .content .heading {
        font-weight: 800;
        font-size: 1.75rem;
        line-height: 130%;
        color: #a48bd9;
        margin-bottom: 2rem
    }

    .course-curriculum-container .weeks-container .content .points {
        margin: 0;
        width: 100%
    }

    .course-curriculum-container .weeks-container .curriculum-download-section {
        margin-left: 0;
        width: 100%
    }
}

@media only screen and (max-width: 768px) {
    .course-curriculum-container .section-heading {
        font-size:1.5rem;
        line-height: 125%;
        margin-bottom: 1.5rem
    }

    .course-curriculum-container .weeks-container .weeks .week {
        font-size: .875rem
    }

    .course-curriculum-container .weeks-container .content .heading {
        font-size: 1.125rem;
        line-height: 140%;
        margin-bottom: 1.5rem
    }

    .course-curriculum-container .weeks-container .content .points .point {
        font-size: .875rem;
        margin: .625rem 0
    }

    .course-curriculum-container .weeks-container .content .points .point img {
        height: 1rem;
        width: 1rem;
        margin-right: .5rem;
        margin-top: .125rem
    }

    .course-curriculum-container .weeks-container .curriculum-download-section {
        margin-left: 0;
        display: flex;
        width: 100%;
        padding: 1.25rem 1rem 1.5rem;
        min-width: 19rem;
        gap: 1.5rem
    }

    .course-curriculum-container .weeks-container .curriculum-download-section .text-section .image-heading-container {
        flex-direction: row;
        gap: .625rem;
        align-items: center
    }

    .course-curriculum-container .weeks-container .curriculum-download-section .text-section .image-heading-container .image-container {
        width: 3rem;
        height: 3rem;
        filter: drop-shadow(0 1.5px 15px rgba(99,52,200,.06))
    }

    .course-curriculum-container .weeks-container .curriculum-download-section .text-section .image-heading-container .image-container img {
        height: 1.625rem;
        width: 1.625rem
    }

    .course-curriculum-container .weeks-container .curriculum-download-section .text-section .image-heading-container .heading {
        font-size: 1.125rem
    }

    .course-curriculum-container .weeks-container .curriculum-download-section .text-section .text {
        font-size: .75rem
    }

    .course-curriculum-container .weeks-container .curriculum-download-section .button-container {
        padding: .75rem 1.5rem;
        font-size: .875rem;
        width: 100%
    }
}

.filled.primary {
    --base-color: #fff;
    --hover-color: #fff;
    background: #683fbe;
}




.large {
    padding: .875rem 1.5rem;
    border-radius: .5rem;
    font-size: 1rem;
    line-height: 150%;
    gap: .5rem;
}

.button-container {
    --base-color: #683fbe;
    --hover-color: #533298;
    --disabled-color: #9e9e9e;
    padding: .75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    border-radius: .375rem;
    font-weight: 600;
    font-size: .875rem;
    line-height: 143%;
    white-space: nowrap;
    color:#fff;
    transition: background .1s ease-in-out
}

.button-container:hover {
    color: #533298;
}

.button-container:disabled {
    color: #eee;
    cursor: default
}

.heading.text-primary.mb-4 {
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 130%;
    color: #a48bd9;
    margin-bottom: 2rem;
}

.point.d-flex.align-items-start.mb-4 {
    display: flex;
    align-items: flex-start;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;
    margin: 2rem 0;
}
.text-muted {
    color: white! important;
}

.cta-buttons-container .btn {
    font-size: 1.1rem; /* Adjust font size */
    text-align: center;
}

.cta-buttons-container .btn img {
    width: 16px; /* Set the arrow image size */
    height: 16px;
}

.cta-buttons-container .fa-arrow-right {
    font-size: 1.2rem; /* Increase the size of the arrow icon */
}



.apply-btn {
    padding: 1rem 2.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    background: #683fbe;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-decoration: none;
    color: #f6f6ff;
    cursor: pointer;
    transition: background .2s ease-in-out
}

.apply-btn:hover {
    background: #533298;
}

.apply-btn img {
    height: 1rem;
    width: 1rem;
    max-width: inherit;
    margin-left: .25rem
}

.apply-btn p {
    margin: 0
}

@media only screen and (max-width: 1000px) {
    .apply-btn {
        margin:0 auto 4rem
    }
}

@media only screen and (max-width: 512px) {
    .apply-btn{
        padding:.75rem 2.5rem;
        font-size: .75rem;
        border-radius: .375rem;
        margin-bottom: 2rem
    }
}


.tools-covered-container {
    background: #171421;
    position: relative;
    overflow: hidden;
    color: #fff;
    z-index: 2
}

.tools-covered-container .content-container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 4.5rem calc(min(7.5rem, 8.34%))
}

.tools-covered-container .tools-covered {
    background: #2a194c;
    border-radius: .75rem;
    padding: 4.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    overflow: hidden
}

.tools-covered-container .tools-covered .dot-wave-left {
    position: absolute;
    left: -12.5rem;
    bottom: -18rem;
    height: auto;
    width: 53rem;
    z-index: -1
}

.tools-covered-container .tools-covered .dot-wave-right {
    position: absolute;
    right: -19.5rem;
    bottom: -9.5rem;
    height: auto;
    width: 38.75rem;
    z-index: -1;
    transform: scaleX(-1)
}

.tools-covered-container .tools-covered .heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #fff
}

.tools-covered-container .tools-covered .description {
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: 3rem;
    text-align: center;
    width: 52.5%
}

.tools-covered-container .tools-covered .logos {
    height: auto;
    width: 100%
}

.tools-covered-container .tools-covered .mobile {
    display: none
}

@media only screen and (max-width: 1000px) {
    .tools-covered-container .tools-covered {
        padding:3.5rem 1.5rem
    }

    .tools-covered-container .tools-covered .description {
        width: 80%
    }
}

@media only screen and (max-width: 512px) {
    .tools-covered-container .content-container {
        padding:4.5rem 1.25rem
    }

    .tools-covered-container .tools-covered {
        padding: 3rem 1.25rem 2.5rem
    }

    .tools-covered-container .tools-covered .desktop {
        display: none
    }

    .tools-covered-container .tools-covered .mobile {
        display: block
    }

    .tools-covered-container .tools-covered .heading {
        font-size: 1.5rem;
        margin-bottom: .375rem
    }

    .tools-covered-container .tools-covered .description {
        font-size: .875rem;
        width: 100%;
        margin-bottom: .875rem
    }
}





.course-dates-container {
    display: flex;
    gap: 2.5rem;
    margin-top: 2rem;
    justify-content: space-between;
    color: #fff
}

.course-dates-container .description {
    width: 60%;
    padding: .125rem 0
}

.course-dates-container .description .weeks {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 140%;
    color: #8665cc;
    margin-bottom: .75rem;
    text-transform: uppercase
}

.course-dates-container .description .section-heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    margin-bottom: 1.5rem;
    color: #fff
}

.course-dates-container .description .section-desc {
    font-size: 1rem;
    line-height: 152%
}

.course-dates-container .dates-container {
    width: 40%;
    min-width: 25.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem
}

.course-dates-container .dates-container .item {
    min-width: 10.25rem;
    padding: 1.5rem;
    background: linear-gradient(180deg,#2a194c,rgba(42,25,76,.2));
    border-radius: .75rem
}

.course-dates-container .dates-container .item.dates {
    font-weight: 800;
    font-size: 2rem;
    line-height: 160%;
    color:#eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4.5rem 1.5rem;
    width: min(22rem,80%)
}

.course-dates-container .dates-container .item.dates .date-container {
    display: flex;
    align-items: flex-end;
    gap: .5rem
}

.course-dates-container .dates-container .item.dates .date-container .date {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 130%;
    color: #fbd975
}

.course-dates-container .dates-container .item.dates .date-container .month {
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 180%;
    color: #fbd975
}

.course-dates-container .dates-container .item.dates .separator {
    margin-top: -2rem
}

.course-dates-container .dates-container .item.dates .label {
    font-weight: 400;
    font-size: .75rem;
    line-height: 223%;
    color: #fafafa;
    display: flex;
    align-items: center
}

.course-dates-container .dates-container .item.dates .label img {
    height: 1rem;
    width: 1rem;
    min-width: 1rem;
    margin-right: .25rem;
    filter: brightness(0) saturate(100%) invert(84%) sepia(9%) saturate(123%) hue-rotate(209deg) brightness(101%) contrast(88%)
}

.course-dates-container .dates-container .item.experts,.course-dates-container .dates-container .item.sessions {
    display: flex;
    flex-direction: column;
    align-items: center
}

.course-dates-container .dates-container .item.experts .count,.course-dates-container .dates-container .item.sessions .count {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 3.75rem;
    line-height: 100%;
    margin-bottom: .625rem
}

.course-dates-container .dates-container .item.experts .count .plus,.course-dates-container .dates-container .item.sessions .count .plus {
    font-size: 2rem
}

.course-dates-container .dates-container .item.experts .count img,.course-dates-container .dates-container .item.sessions .count img {
    height: .875rem;
    width: .875rem;
    margin-left: .25rem
}

.course-dates-container .dates-container .item.experts .label,.course-dates-container .dates-container .item.sessions .label {
    font-size: .75rem;
    line-height: 223%;
    color: #fafafa;
    display: flex;
    align-items: center
}

.course-dates-container .dates-container .item.experts .label img,.course-dates-container .dates-container .item.sessions .label img {
    height: 1rem;
    width: 1rem;
    min-width: 1rem;
    margin-right: .25rem;
    filter: brightness(0) saturate(100%) invert(84%) sepia(9%) saturate(123%) hue-rotate(209deg) brightness(101%) contrast(88%)
}

.course-dates-container .dates-container .item.experts {
    color: #f3b998
}

.course-dates-container .dates-container .item.sessions {
    color: #b3e3f7
}


.program-at-a-glance {
    background: #171421;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.program-at-a-glance .content-container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 5rem calc(min(5rem, 5.6%)) 5rem calc(min(6.25rem, 6.94%))
}

.program-at-a-glance .mobile {
    display: none
}

.program-at-a-glance .main-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    margin-bottom: 2.5rem;
    text-align: center
}

.program-at-a-glance .main-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.program-at-a-glance .main-content .left-container {
    width: 42%
}

.program-at-a-glance .main-content .left-container .items {
    margin: -.5rem 0
}

.program-at-a-glance .main-content .left-container .items .item {
    margin: .5rem 0;
    border: 1px solid rgba(237,232,247,.17);
    border-radius: .5rem;
    position: relative;
    padding: 1.5rem 2rem;
    cursor: pointer
}

.program-at-a-glance .main-content .left-container .items .item .heading {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 150%;
    color: hsla(0,0%,100%,.7);
    margin-bottom: 0
}

.program-at-a-glance .main-content .left-container .items .item .description {
    display: none;
    margin-top: .75rem;
    font-size: .875rem;
    line-height: 150%;
    color: #fff;
}

.program-at-a-glance .main-content .left-container .items .item:hover {
    background: #1d162e
}

.program-at-a-glance .main-content .left-container .items .item:hover .heading {
    color: #fff
}

.program-at-a-glance .main-content .left-container .items .item.active {
    background: #221d32;
    padding: 1.5rem 2rem 1.75rem;
    border: 1px solid #683fbe;
    border: 1px solid #683fbe;
}

.program-at-a-glance .main-content .left-container .items .item.active .heading {
    font-weight: 800;
    color:#fff;
}

.program-at-a-glance .main-content .left-container .items .item.active .description {
    display: block
}

.program-at-a-glance .main-content .left-container .items .item .progress {
    display: none; /* Hide the progress bar by default */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: transparent;
}

.program-at-a-glance .main-content .left-container .items .item .progress .progress-container {
    height: .25rem;
    border-radius: 0!important
}

.program-at-a-glance .main-content .right-container {
    width: 53.8%;
    display: flex;
    justify-content: center;
    max-width: 35rem
}

@media only screen and (max-width: 768px) {
    .program-at-a-glance .content-container {
        padding:3.5rem calc(max(1.25rem, 5.34%))
    }

    .program-at-a-glance .desktop {
        display: none
    }

    .program-at-a-glance .mobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        position: relative;
        z-index: 1
    }

    .program-at-a-glance .main-heading {
        font-size: 1.5rem;
        line-height: 125%;
        margin-bottom: 2rem
    }

    .program-at-a-glance .progress {
        position: absolute;
        top: .75rem;
        left: .28rem;
        max-height: 86%;
        border-radius: 4px;
        width: 3px;
        z-index: -1;
        transition: height .3s ease-out;
        background-color: hsla(0,0%,100%,.6); /* Light background */
    }

    .program-at-a-glance .inactive {
        background-color: #221d32;
        height: 86%
    }

    .program-at-a-glance .mobile-step {
        width: 100%;
        display: flex;
        gap: 1rem
    }

    .program-at-a-glance .mobile-step .bullet {
        width: .75rem;
        height: .75rem;
        flex-shrink: 0;
        border-radius: 50%;
        border: 1px solid #221d32;
        background: #171421;
        margin-top: .625rem
    }

    .program-at-a-glance .mobile-step .bullet.active {
        background: #eee;
        border: none
    }

    .program-at-a-glance .mobile-step .mobile-step-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem
    }

    .program-at-a-glance .mobile-step .mobile-step-content .heading {
        color: hsla(0,0%,100%,.7);
        font-size: 1.25rem;
        font-weight: 800;
        line-height: 150%
    }

    .program-at-a-glance .mobile-step .mobile-step-content .description {
        color: hsla(0,0%,100%,.6);
        font-size: 1rem;
        line-height: 150%
    }

    .program-at-a-glance .mobile-step.active .bullet {
        background: "#ffffff";
        background: #fff;
    }

    .program-at-a-glance .mobile-step.active .mobile-step-content .description,.program-at-a-glance .mobile-step.active .mobile-step-content .heading {
        color: #fff;
    }
}

.progress-container{
    width: 100%;
  height: .5rem;
  border-radius: .5rem;
  position: relative;
}

.progress-container .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%
}


.program-at-a-glance .main-content .left-container .items .item.active .progress {
    display: block;  /* Show the progress bar when the item is active */
  }
.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #683fbe; /* Progress bar color */
    transition: width 3s ease-in-out; /* Smooth transition for width change */
    width: 0%; /* Start with 0 width */
}
.progress.inactive {
    background-color: #221d32;
    height: 86%;
  }

  .program-at-a-glance .mobile #progress {
    background-color: #683fbe;
    width: 3px;
    transition: height 3s ease-in-out; /* Smooth transition for height change */
    height: 0%; /* Start with 0 height */
    position: absolute;
    top: .75rem;
    left: .28rem;
    max-height: 86%;
    border-radius: 4px;
    z-index: -1;
  }


  .program-at-a-glance .main-content .left-container .items .item img.step-image {
    width: 100%;          /* Fill the container width */
    height: auto;         /* Maintain aspect ratio */
    max-width: 100%;      /* Prevent image from becoming larger than its container */
    max-height: 300px;    /* Set a max height (you can adjust this value) */
    margin-top: 1rem;
    display: none;        /* Hide by default */
    object-fit: contain; 
  }
  
  .program-at-a-glance .main-content .left-container .items .item.active img.step-image {
    display: block; /* Show the image for the active item */
  }

  .program-at-a-glance .main-content .right-container  img{
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .program-at-a-glance .main-content .right-container img.step-image {
        max-width: 100%;   /* Full width on smaller screens */
        max-height: 250px; /* Adjust height on smaller screens */
    }
}








.interview-prep-container {
    background: #171421;
    position: relative;
    overflow: hidden;
    color: #fff;
    z-index: 1
}

.interview-prep-container .content-container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 calc(min(6.25rem, 6.94%)) 8.5rem
}

.interview-prep-container .separator{
    width: .125rem;
    height: 6rem;
    flex-shrink: 0;
    border-radius: .625rem;
    background: linear-gradient(0deg,#d9d9d9,hsla(0,0%,85.1%,0));
    margin: 0 auto 3.5rem
}

.interview-prep-container .fancy-heading {
    color: #8665cc;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center
}

.interview-prep-container .heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 3rem;
    color: #fff
}

.interview-prep-container .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem
}

.interview-prep-container .blocks .block {
    display: flex;
    width: 18.75rem;
    height: 11.25rem;
    padding: 1.25rem 1.5rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    border-radius: .5rem;
    background: #221d32
}

.interview-prep-container .blocks .block .block-header {
    display: flex;
    align-items: center;
    gap: .625rem
}

.interview-prep-container .blocks .block .block-header img {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0
}

.interview-prep-container .blocks .block .block-header .text {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 140%
}

.interview-prep-container .blocks .block .block-description {
    font-size: 1rem;
    line-height: 150%
}

.interview-prep-container .bg-effect-left {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0
}

.interview-prep-container .bg-effect-right{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0
}

@media only screen and (max-width: 768px) {
    .interview-prep-container .content-container {
        padding:0 calc(max(1.25rem, 5.34%)) 3.5rem
    }

    .interview-prep-container .separator {
        height: 4.5rem;
        margin: 0 auto 1.5rem
    }

    .interview-prep-container .fancy-heading {
        font-size: .875rem;
        margin-bottom: .5rem
    }

    .interview-prep-container .heading {
        font-size: 1.5rem;
        margin-bottom: 1.875rem
    }

    .interview-prep-container .blocks {
        gap: 1.25rem
    }

    .interview-prep-container .blocks .block {
        width: 18.75rem;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 1.25rem 1.25rem 2rem;
        gap: 1rem
    }

    .interview-prep-container .blocks .block .block-header .text {
        font-size: 1.125rem
    }

    .interview-prep-container .blocks .block .block-description {
        font-size: .875rem
    }

    .interview-prep-container .bg-effect-left,.interview-prep-container .bg-effect-right {
        width: 50%
    }
}






.unique-offerings-container  {
    background: #1c1929
}

.unique-offerings-container .max-width-container  {
    padding: 7.5rem 12% 3.75rem
}

.unique-offerings-container .content-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem
}

.unique-offerings-container .content-container .heading  {
    color: #fff;
    color: var(--text-inverted,#fff);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 130%
}

.unique-offerings-container .content-container .offerings  {
    width: 100%;
    height: auto
}

.unique-offerings-container .mobile  {
    display: none!important
}

@media only screen and (max-width: 768px) {
    .unique-offerings-container .max-width-container  {
        padding:3.75rem 6%
    }

    .unique-offerings-container .desktop  {
        display: none!important
    }

    .unique-offerings-container .mobile  {
        display: block!important
    }
}

@media only screen and (max-width: 512px) {
    .unique-offerings-container .max-width-container  {
        padding:3.75rem 1.25rem
    }

    .unique-offerings-container .content-container  {
        gap: 1.5rem
    }

    .unique-offerings-container .content-container .heading  {
        font-size: 1.5rem;
        font-weight: 700
    }
}




.whatsapp-helper-container {
    position: fixed;
    bottom: 5rem;
    right: 4.5rem;
    z-index: 10
}

.whatsapp-helper-container .popper-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background: #019c4b;
    border: 1px solid rgba(78, 203, 91, .4);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .12);
    overflow: hidden;
    cursor: pointer;
    margin-left: 10rem
}

.whatsapp-helper-container .popper-trigger .whatsapp-icon {
    height: auto;
    width: 4rem
}

.whatsapp-helper-container .popper {
    padding: 1.5rem 1.25rem;
    background: #fff;
    border-radius: .75rem;
    color: var(--text-default);
    width: 15rem;
    margin: 0 0 1.25rem -12rem
}

.whatsapp-helper-container .popper .heading {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: .5rem
}

.whatsapp-helper-container .popper .text {
    font-size: .875rem;
    line-height: 150%;
    margin-bottom: 1rem
}

.whatsapp-helper-container .popper .button-container {
    width: 100%;
    justify-content: center
}

.whatsapp-helper-container .popper .button-container .icon {
    width: 1.25rem;
    height: 1.25rem
}

@media only screen and (max-width:512px) {
    .whatsapp-helper-container {
        right: 1rem
    }
}


.horizontal-separator {
    width: 16.6vw;
    height: 2px;
    background: linear-gradient(89.98deg,rgba(236,236,255,0) 1.1%,#402678 49.19%,rgba(236,236,255,0) 106.3%);
    margin: 4rem auto
}








.faq-section-container {
    padding: 6.25rem 7vw
}



.faq-section-container .horizontal-separator {
    width: 16.6vw;
    height: 2px;
    background: linear-gradient(89.98deg,rgba(236,236,255,0) 1.1%,#402678 49.19%,rgba(236,236,255,0) 106.3%);
    margin: 4rem auto
}

.faq-section-container .course-details-banner {
    padding: 3rem 4.5rem;
    margin: 0 4rem;
    background: linear-gradient(145.07deg,#683fbe -2.83%,#493080 89%);
    box-shadow: 0 0 4rem rgba(104,63,190,.27);
    border-radius: 1.25rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: flex;
    align-items: center
}

.faq-section-container .course-details-banner .ripple-effect {
    position: absolute;
    height: 35.375rem;
    width: 35.375rem;
    max-width: inherit;
    z-index: -1;
    right: -1.5rem
}

.faq-section-container .course-details-banner .left-container {
    margin-right: 4vw;
    width: 61vw
}

.faq-section-container .course-details-banner .left-container .heading {
    font-style: normal;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #fdfdfd;
    margin-bottom: 1.5rem
}

.faq-section-container .course-details-banner .left-container .mobile-container {
    display: none
}

.faq-section-container .course-details-banner .left-container .price-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem
}

.faq-section-container .course-details-banner .left-container .price-container .mobile-only {
    display: none
}

.faq-section-container .course-details-banner .left-container .price-container .price {
    font-style: normal;
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #fdfdfd
}

.faq-section-container .course-details-banner .left-container .price-container .price.invalid {
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: line-through;
    line-height: 1.75rem;
    color: #f2f2f2;
    margin-right: .25rem
}

.faq-section-container .course-details-banner .left-container .price-container .price .plus-gst {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 140%
}

.faq-section-container .course-details-banner .left-container .apply-btn {
    padding: .875rem 5.625rem;
    display: flex;
    align-items: center;
    background: #e8ddff;
    border-radius: 6.61765px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #171421;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-decoration: none
}

.faq-section-container .course-details-banner .left-container .apply-btn img {
    height: 1rem;
    width: 1rem;
    max-width: inherit;
    margin-left: .25rem;
    filter: brightness(0) saturate(100%)
}

.faq-section-container .course-details-banner .left-container .urgency-nudge {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: flex-start
}

.faq-section-container .course-details-banner .left-container .urgency-nudge span {
    font-weight: 600
}

.faq-section-container .course-details-banner .left-container .urgency-nudge img {
    height: 1.25rem;
    width: 1.25rem;
    max-width: inherit;
    margin-right: .375rem
}

.faq-section-container .course-details-banner .right-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end
}

.faq-section-container .course-details-banner .right-container .content {
    padding: 1.25rem 1.5rem;
    width: 14.5vw
}

.faq-section-container .course-details-banner .right-container .content .heading {
    font-size: 1rem;
    line-height: 175%;
    color: #cccad2;
    margin-bottom: .75rem
}

.faq-section-container .course-details-banner .right-container .content .value {
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 130%;
    color: #f6f6ff
}

@media only screen and (max-width: 1210px) {
   

    .faq-section-container .faq {
        width: 50rem
    }

    .faq-section-container .course-details-banner .left-container {
        margin-right: 2vw
    }

    .faq-section-container .course-details-banner .right-container .content {
        width: 13.1vw
    }
}

@media only screen and (max-width: 1000px) {
    

    .faq-section-container .course-details-banner {
        padding: 2rem 1.5rem;
        border-radius: .5rem
    }

    .faq-section-container .course-details-banner .ripple-effect {
        position: absolute;
        height: 15.625rem;
        width: 15.625rem;
        max-width: inherit;
        z-index: -1;
        right: -7.5rem
    }

    .faq-section-container .course-details-banner .left-container {
        margin-right: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: flex
    }

    .faq-section-container .course-details-banner .left-container .heading {
        text-align: center
    }

    .faq-section-container .course-details-banner .left-container .mobile-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        margin-bottom: 2rem
    }

    .faq-section-container .course-details-banner .left-container .mobile-container .content {
        padding: 1.25rem 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    .faq-section-container .course-details-banner .left-container .mobile-container .content .heading {
        font-size: 1rem;
        line-height: 175%;
        color: #cccad2;
        margin-bottom: .75rem
    }

    .faq-section-container .course-details-banner .left-container .mobile-container .content .value {
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 130%;
        color: #f6f6ff
    }

    .faq-section-container .course-details-banner .left-container .price-container {
        display: flex;
        align-items: flex-end;
        margin-bottom: 2rem;
        justify-content: space-evenly;
        width: 100%
    }

    .faq-section-container .course-details-banner .left-container .price-container .mobile-only {
        display: flex;
        color: #fff;
        font-size: 2.25rem
    }

    .faq-section-container .course-details-banner .left-container .price-container .mobile-only.invalid {
        font-size: 1.25rem
    }

    .faq-section-container .course-details-banner .left-container .price-container .mobile-price-container {
        display: flex;
        align-items: flex-end
    }

    .faq-section-container .course-details-banner .left-container .price-container .price {
        font-style: normal;
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 2.75rem;
        color: #fdfdfd
    }

    .faq-section-container .course-details-banner .left-container .price-container .price.invalid {
        font-weight: 500;
        font-size: 1.25rem;
        text-decoration: line-through;
        line-height: 1.75rem;
        color: #f2f2f2;
        margin-right: .25rem
    }

    .faq-section-container .course-details-banner .left-container .apply-btn {
        padding: .875rem 5.625rem;
        display: flex;
        align-items: center;
        background: #e8ddff;
        border-radius: 6.61765px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #171421;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content
    }

    .faq-section-container .course-details-banner .left-container .apply-btn img {
        height: 1rem;
        width: 1rem;
        max-width: inherit;
        margin-left: .25rem;
        filter: brightness(0) saturate(100%)
    }

    .faq-section-container .course-details-banner .left-container .urgency-nudge {
        margin-top: 1.5rem;
        font-size: 1rem;
        color: #fff;
        display: flex;
        align-items: flex-start
    }

    .faq-section-container .course-details-banner .left-container .urgency-nudge span {
        font-weight: 600
    }

    .faq-section-container .course-details-banner .left-container .urgency-nudge img {
        height: 1.25rem;
        width: 1.25rem;
        max-width: inherit;
        margin-right: .375rem
    }

    .faq-section-container .course-details-banner .right-container {
        display: none
    }
}

@media only screen and (max-width: 512px) {
    .faq-section-container {
        padding:2.5rem 7vw
    }

 

    .faq-section-container .horizontal-separator {
        display: none
    }

    .faq-section-container .course-details-banner {
        padding: 2rem 1.25rem;
        margin: 2.5rem 0 0;
        box-shadow: 0 0 1.5rem rgba(104,63,190,.27);
        border-radius: .5rem
    }

    .faq-section-container .course-details-banner .ripple-effect {
        height: 15.625rem;
        width: 15.625rem;
        right: -7.8125rem
    }

    .faq-section-container .course-details-banner .left-container .heading {
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-bottom: 1.15rem;
        text-align: left
    }

    .faq-section-container .course-details-banner .left-container .mobile-container .content {
        padding: .75rem 0;
        width: 100%
    }

    .faq-section-container .course-details-banner .left-container .mobile-container .content .heading {
        font-size: .75rem;
        line-height: 1.75rem;
        margin-bottom: 0;
        font-weight: 400
    }

    .faq-section-container .course-details-banner .left-container .mobile-container .content .value {
        font-size: 1rem;
        line-height: 130%
    }

    .faq-section-container .course-details-banner .left-container .price-container {
        margin-bottom: 1.5rem;
        justify-content: space-between
    }

    .faq-section-container .course-details-banner .left-container .price-container .mobile-only {
        font-size: 1rem;
        line-height: 1.75rem
    }

    .faq-section-container .course-details-banner .left-container .price-container .price {
        font-size: 1.25rem;
        line-height: 133%;
        white-space: nowrap
    }

    .faq-section-container .course-details-banner .left-container .price-container .price.invalid {
        font-size: .75rem;
        margin-right: .25rem
    }

    .faq-section-container .course-details-banner .left-container .price-container .price .plus-gst {
        font-size: .75rem
    }

    .faq-section-container .course-details-banner .left-container .apply-btn {
        padding: .75rem;
        font-size: .75rem;
        line-height: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .faq-section-container .course-details-banner .left-container .apply-btn img {
        height: 1rem;
        width: 1rem;
        max-width: inherit;
        margin-left: .25rem;
        filter: brightness(0) saturate(100%)
    }

    .faq-section-container .course-details-banner .left-container .urgency-nudge {
        margin-top: 1rem;
        font-size: .875rem
    }

    .faq-section-container .course-details-banner .left-container .urgency-nudge img {
        height: 1rem;
        width: 1rem;
        max-width: inherit;
        margin-right: .25rem
    }
}


/* Sticky Course Info Container */
.sticky-course-info-container {
    z-index: 8;
    background: rgba(30, 26, 43, 0.9);
    -webkit-backdrop-filter: blur(1.25rem);
    backdrop-filter: blur(1.25rem);
    transition: all 0.3s ease; /* Smooth transition */
}

/* Restrict width for the container */
.sticky-course-info-container .restrict-width {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

/* Sticky position at the bottom when scrolled */
.sticky-course-info-container.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;  /* Ensures it's full-width */
    z-index: 9;
}

.sticky-course-info-container .info-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Each Info Box */
.sticky-course-info-container .info-summary .info {
    margin-right: 4vw;
}

/* Type Styles */
.sticky-course-info-container .info-summary .info .type {
    font-size: 0.875rem;
    line-height: 175%;
    color: #cccad2;
    margin-bottom: 0.25rem;
}

/* Content Styles */
.sticky-course-info-container .info-summary .info .content {
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 130%;
    color: #f6f6ff;
}

/* Bottom Hurry Nudge Container Styles */
.sticky-course-info-container .bottom-hurry-nudge-container {
    color: #fff;
    margin-right: 1.5rem;
}

/* Bottom Hurry Nudge Text */
.sticky-course-info-container .bottom-hurry-nudge-container .bottom-hurry-nudge {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 1rem;
    line-height: 130%;
}

/* Bottom Hurry Nudge Text Style */
.sticky-course-info-container .bottom-hurry-nudge-container .bottom-hurry-nudge span {
    font-weight: 600;
}

/* Bottom Hurry Nudge Image Style */
.sticky-course-info-container .bottom-hurry-nudge-container .bottom-hurry-nudge img {
    height: 1.25rem;
    margin-right: 0.25rem;
}

/* Apply Button Style */
.sticky-course-info-container .apply-btn {
    font-size: 1rem;
}

/* Ensure Apply Button and Hurry Nudge are side by side */
.sticky-course-info-container .tw-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Space the elements inside tw-flex */
.sticky-course-info-container .tw-flex .bottom-hurry-nudge-container {
    margin-right: 2rem; /* Adjust spacing */
}

.sticky-course-info-container .tw-flex .apply-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the button to the right */
}

/* Hidden Class for the Info Container */
.sticky-course-info-container.hidden {
    display: none;
}






.modal-open {
    overflow: hidden
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translateY(-50px)
}

@media (prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal.show .modal-dialog {
    transform: none
}

.modal.modal-static .modal-dialog {
    transform: scale(1.02)
}

.modal-dialog-scrollable {
    display: flex;
    max-height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden
}

.modal-dialog-scrollable .modal-footer,.modal-dialog-scrollable .modal-header {
    flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem)
}

.modal-dialog-centered:before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: ""
}

.modal-dialog-centered.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none
}

.modal-dialog-centered.modal-dialog-scrollable:before {
    content: none
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px)
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px)
}

.modal-footer>* {
    margin: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width:500px;
        margin: 1.75rem auto
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem)
    }

    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem)
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

    .modal-dialog-centered:before {
        height: calc(100vh - 3.5rem);
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content
    }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg,.modal-xl {
        max-width:800px
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width:1140px
    }
}



/* Prevent Body Scroll */
body.no-scroll {
    overflow: hidden; /* Prevent scrolling on the body when modal is open */
}

/* Modal Background */
#modal.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Ensure it's on top of other elements */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    align-items: center; /* Center align vertically */
    justify-content: center; /* Center align horizontally */
}

/* Modal Content */
#modal .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
    position: relative;
}

/* Close Button */
#modal .close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

#modal .close-btn:hover,
#modal .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
#modal .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Body */
#modal .modal-body {
    margin-top: 20px;
}

/* Modal Footer */
#modal .modal-footer {
    margin-top: 20px;
}

/* Apply Button */
#modal .apply-btn {
    background-color: #504ff5;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}

/* Input Fields */
#modal .input-container {
    position: relative;
    margin-bottom: 15px;
}

#modal .input-field {
    width: 100%;
    padding: 15px;
    border: 1px solid #ebcca9;
    border-radius: 8px;
    font-size: 16px;
}

#modal .label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #70665a;
}

#modal .purple-filled {
    background-color: #504ff5;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#modal .login-with-google {
    width: 100%;
    background-color: #fff;
    border: 1px solid #504ff5;
    color: #504ff5;
    padding: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

#modal .login-with-google img {
    width: 20px;
    margin-right: 10px;
}
